* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(https://images.unsplash.com/photo-1509218541462-aa68e407d0ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE5fHxzdW5ueSUyMGRheSUyMHdlYXRoZXIlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden {
  /* add to html */
  display: none;
}

.search-input {
  float: left;
  text-align: center;
  margin: 3em 0;
}

.search-input > * {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.weather-display {
  float: right;
  display: hidden;
}

.form-control {
  width: 80%;
  float: left;
}

.city-name {
  width: 80%;
  text-align: justify;
  float: left;
  font-weight: bold;
}

.label {
  text-align: left;
}

.card {
  margin: 3.75em 0 2em 0;
}
.card-header {
  padding: 1em 0 0 2em;
  text-align: left;
}
.card-img-icon {
  width: 60%;
}

.today-weather-icon {
  float: right;
  margin: 1em 1em 0 0;
}

.list-group-item {
  text-align: left;
}
.five-day-forecast {
  margin: auto;
  padding: 0;
}
.forecast-details {
  text-align: justify;
}

.forecast-card-header {
  padding: 0.5em 0 0.25em 1.25em;
  text-align: justify;
}
